<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Трейдинг </span>
                    </h1>
                    <p class="pad" style="background-color:#222; "><span class="orange ">Трейдинг</span> –это процесс
                        покупки и
                        продажи финансовых инструментов, таких как акции, облигации,
                        валюты, товары и другие
                        активы в целях получения прибыли. Трейдинг может осуществляться на различных финансовых рынках,
                        включая фондовые, валютные и
                        товарные рынки.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div class="block-img">
                                    <a routerLink="adviceForBeginners"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="adviceForBeginners" class="orange">
                                        <h3>Советы начинающим трейдерам</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div class="block-img">
                                    <a routerLink="marketBasics"><img class="article-img"
                                            src="/assets/img/content/osnovirinka44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="marketBasics" class="orange">
                                        <h3>Основы рынка. Термины
                                        </h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchange"><img class="article-img"
                                            src="/assets/img/content/znakomstvosbirgey44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchange" class="orange">
                                        <h3>Знакомство с биржей</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangeMarket"><img class="article-img"
                                            src="/assets/img/content/exchangemarkets44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangeMarket" class="orange">
                                        <h3>Биржевой и внебиржевой рынки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="derivatives"><img class="article-img"
                                            src="/assets/img/content/derivativesNew4.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="derivatives" class="orange">
                                        <h3>Деривативы и их виды</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangeParticipants"><img class="article-img"
                                            src="/assets/img/content/uchastnikiBirgi44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangeParticipants" class="orange">
                                        <h3>Основные участники биржи</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexMarket"><img class="article-img"
                                            src="/assets/img/content/forexMarket44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexMarket" class="orange">
                                        <h3>Рынок FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="currenciesAndQuotes"><img class="article-img"
                                            src="/assets/img/content/currencies44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="currenciesAndQuotes" class="orange">
                                        <h3>Валюты и их котировки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="formationExchange"><img class="article-img"
                                            src="/assets/img/content/formationExchange44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="formationExchange" class="orange">
                                        <h3>Формирование курса валют</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="currencyPosition">
                                        <img class="article-img" src="/assets/img/content/currencyPosition44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="currencyPosition" class="orange">
                                        <h3>Позиция: понятия, виды и типы</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexValueDate">
                                        <img class="article-img" src="/assets/img/content/forexValueDate44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexValueDate" class="orange">
                                        <h3>Дата валютирования</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="howToMakeMoney">
                                        <img class="article-img" src="/assets/img/content/howToMakeMoney44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="howToMakeMoney" class="orange">
                                        <h3>Как заработать на FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="riskCurrencyExchange">
                                        <img class="article-img" src="/assets/img/content/riskCurrencyExchange44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="riskCurrencyExchange" class="orange">
                                        <h3>Риск изменения курса</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexLeverageRisk">
                                        <img class="article-img" src="/assets/img/content/forexLeverageRisk44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexLeverageRisk" class="orange">
                                        <h3>Риск кредитного плеча на FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="majorBankFrs">
                                        <img class="article-img" src="/assets/img/content/majorBankFrs44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="majorBankFrs" class="orange">
                                        <h3>Основные центральные банки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f16">
                                        <!-- <img class="article-img"
                                                                                                        src="/assets/img/content/formationExchange44.png" alt="tips"> -->
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f16" class="orange">
                                        <h3>16</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f17">
                                        <!-- <img class="article-img"
                                                                                                        src="/assets/img/content/formationExchange44.png" alt="tips"> -->
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f17" class="orange">
                                        <h3>17</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f18">
                                        <!-- <img class="article-img"
                                                                                                        src="/assets/img/content/formationExchange44.png" alt="tips"> -->
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f18" class="orange">
                                        <h3>18</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f19">
                                        <!-- <img class="article-img"
                                                                                                        src="/assets/img/content/formationExchange44.png" alt="tips"> -->
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f19" class="orange">
                                        <h3>19</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f20">
                                        <!-- <img class="article-img"
                                                                                                        src="/assets/img/content/formationExchange44.png" alt="tips"> -->
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f20" class="orange">
                                        <h3>20</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</section>