<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Трейдинг </span>
                    </h1>
                    <p class="pad" style="background-color:#222; "><span class="orange ">Трейдинг</span> – це процес
                        купівлі та
                        продажу фінансових інструментів, таких як акції, облігації,
                        валюти, товари та інші
                        активи з метою отримання прибутку. Трейдинг може здійснюватися різних фінансових ринках,
                        включаючи фондові, валютні і
                        товарні ринки.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="adviceForBeginners"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="adviceForBeginners" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div class="block-img">
                                    <a routerLink="marketBasics"><img class="article-img"
                                            src="/assets/img/content/osnovirinka44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="marketBasics" class="orange">
                                        <h3>Основи ринку. Терміни
                                        </h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchange"><img class="article-img"
                                            src="/assets/img/content/znakomstvosbirgey44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchange" class="orange">
                                        <h3>Знайомство з біржею</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangeMarket"><img class="article-img"
                                            src="/assets/img/content/exchangemarkets44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangeMarket" class="orange">
                                        <h3>Біржовий та позабіржовий ринки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="derivatives"><img class="article-img"
                                            src="/assets/img/content/derivativesNew4.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="derivatives" class="orange">
                                        <h3>Деривативи та їх види</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangeParticipants"><img class="article-img"
                                            src="/assets/img/content/uchastnikiBirgi44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangeParticipants" class="orange">
                                        <h3>Основні учасники біржі</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>