<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Трейдинг </span>
                    </h1>
                    <p class="pad" style="background-color:#222; "><span class="orange ">Трейдинг</span> – це процес
                        купівлі та
                        продажу фінансових інструментів, таких як акції, облігації,
                        валюти, товари та інші
                        активи з метою отримання прибутку. Трейдинг може здійснюватися різних фінансових ринках,
                        включаючи фондові, валютні і
                        товарні ринки.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">
                    <div class="programm__list" data-id="adviceForBeginners" (click)="routById($event)">
                        <div class="programm__item">
                            <!-- <a href="#" class="programm__link js-open-modal"></a> -->
                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="adviceForBeginners"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="adviceForBeginners" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="programm__list" data-id="adviceForBeginners" (click)="routById($event)">
                        <div class="programm__item">
                            <!-- <a href="#" class="programm__link js-open-modal"></a> -->
                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="two"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="two" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list" data-id="adviceForBeginners" (click)="routById($event)">
                        <div class="programm__item">
                            <!-- <a href="#" class="programm__link js-open-modal"></a> -->
                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="three"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="three" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list" data-id="adviceForBeginners" (click)="routById($event)">
                        <div class="programm__item">
                            <!-- <a href="#" class="programm__link js-open-modal"></a> -->
                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="four"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="four" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list" data-id="adviceForBeginners" (click)="routById($event)">
                        <div class="programm__item">
                            <!-- <a href="#" class="programm__link js-open-modal"></a> -->
                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="five"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="five" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>