.hero-section {
    background: url(/assets/img/content/traderStarterw.webp) no-repeat bottom right;
    background-size: 100% 100%;
    color: white;
    height: 300px;
}

.section-i {
    padding: 0;
}

.pictureImg {
    width: 300px;
    float: right;
    margin-left: 20px;
}

@media (min-width: 900px) {
    h1 {
        text-align: center !important; 
    }
}