<section class="hero-section" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <h1>
                        Author's training in trading
                    </h1>
                    <p>Choose a training program for yourself among the online courses “Training in trading from
                        ArapovTrade"
                        and find financial independence.
                    </p>

                    <div class="button-place">
                        <a href="#registration" class="button js-scroll"><span style="margin-right:15px ;">Start
                                Now</span> </a>
                    </div>
                </div>
                <div class="hero-image-place  m-right">
                    <picture class="hero-image">
                        <source srcset="/assets/img/content/Igor-portrait2.png" media="(min-width: 600px)">
                        <img src="/assets/img/content/Igor-portrait1.png" alt="author">

                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>